:root{
  --mainBlue: #2a2a72;
  --lightBlue: #bacee9;
  --mainPink: #701d3f;
  --mainGreen: #9bd49e;
}

body{
  font-family: 'RocknRoll One'!important;
  background: var(--lightBlue) !important;
  color: var(--mainBlue) !important;
}
.text-title{
  font-family: 'Oswald',cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue) !important;
}
.text-pink{
  color: var(--mainPink) !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
  transition: all 300ms linear !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
